


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	background-color: #121212;
}


div#navbar-main{
	background-color: #020202;
	position: static;
	width: 100vw;
	height: 20vh;
	top: 0;
	left: 0;

}

div.wrapper{

	width: inherit;
	height: inherit;
	text-align: center;
	position: relative;
}

div.wrapper-calculator{
	background-color: blue;
	text-align: center;
	position: relative;

}

button.calculator-num-btn{
	float: left;


}

button.calculator-num-btn:nth-child(1),
button.calculator-num-btn:nth-child(2),
button.calculator-num-btn:nth-child(3){
	margin-top: 5em;
}


div.wrapper-calculator button.calculator-num-btn:nth-child(4),
div.wrapper-calculator button.calculator-num-btn:nth-child(7),
div.wrapper-calculator button.calculator-num-btn:nth-child(10),
div.wrapper-calculator button.calculator-num-btn:nth-child(13),
div.wrapper-calculator button.calculator-num-btn:nth-child(16){
	clear: left;
}
div.wrapper-calculator button.calculator-num-btn:nth-child(16){
	margin-left: 115px;
}

button.calculator-num-btn{
	margin-left: 1em;
	margin-bottom: 1em;
}



.label-wrapper{
	display: inline-block;
	position: absolute;
	width: 80%;
	top: 45%;
	left: 10%;
}

button{
	background-color: orangered;
	border-width: 1px;
	padding: 2em 4em;
	color: whitesmoke;
	border-radius: 5px;

}



button:hover{
	background-color: #B83200;
	cursor: grab;
}

input{
	border-radius: 5px;
	/*padding: 10px 200px;*/
	padding: 1.2em 10em;
	font-size: 1em;
	font-style: bold;
}
label{
	width: inherit;
	color: whitesmoke;
	display: inline-block;
	position: relative;
}

p{
	color: whitesmoke;
}

#calculator-input-icon{
	max-height: 40px;
	max-width: 30px;
	filter: invert(10%);
	top: 12px;
	position: absolute;
}
textarea{
	margin-left: 150px;
	background-color: #090200;
	color: #8E3000;
	font-size: 75px;
	
	height: 100vh;
	min-height: 100vh;

}









